.8_53 { 
	overflow:hidden;
}.android___3_8_53 { 
	background-color:rgba(255, 254.00000005960464, 252.00000017881393, 1);
	width:360px;
	height:640px;
	position:absolute;
}.rectangle_15_116 { 
	width:360px;
	height:640px;
	position:absolute;
	left:0px;
	top:14px;
	background-image:url(images/rectangle.png);
	background-repeat:no-repeat;
	background-size:cover;
}.rectangle_20_8_55 { 
	box-shadow:0px 4px 4px rgba(0, 0, 0, 0.25);
	background-color:rgba(243.00000071525574, 210.00000268220901, 80.00000283122063, 1);
	width:360px;
	height:91px;
	position:absolute;
	left:0px;
	top:0px;
}.com_em_sento_8_54 { 
	color:rgba(0, 0, 0, 1);
	width:273px;
	height:59px;
	position:absolute;
	left:43px;
	top:16px;
	font-family:Gloria Hallelujah;
	text-align:center;
	font-size:36px;
	letter-spacing:0;
}.rectangle_21_8_57 { 
	box-shadow:0px 4px 4px rgba(0, 0, 0, 0.25);
	background-color:rgba(243.00000071525574, 210.00000268220901, 80.00000283122063, 1);
	width:303px;
	height:400px;
	position:absolute;
	left:28px;
	top:134px;
}.rectangle_24_9_70 { 
	box-shadow:0px 4px 4px rgba(0, 0, 0, 0.25);
	background-color:rgba(243.00000071525574, 210.00000268220901, 80.00000283122063, 1);
	width:303px;
	height:400px;
	position:absolute;
	left:28px;
	top:134px;
}.sabem_que_a_vegades_es_dif_cil_identificar_i_recon_ixer_les_nostres_emocions__mitjan_ant_la_teva_c_mera_i_una_s_rie_de_preguntes_intentarem_ajudar_te__8_60 { 
	color:rgba(0, 0, 0, 1);
	width:263px;
	height:388px;
	position:absolute;
	left:48px;
	top:155px;
	font-family:Gloria Hallelujah;
	text-align:center;
	font-size:20px;
	letter-spacing:0;
}.ellipse_5_8_61 { 
	box-shadow:0px 4px 4px rgba(0, 0, 0, 0.25);
	border-radius:500px;
	background-color:rgba(7.410932332277298, 59.96683560311794, 98.81249696016312, 1);
	width:46px;
	height:46px;
	position:absolute;
	left:157px;
	top:111px;
}.rectangle_23_8_63 { 
	box-shadow:0px 4px 4px rgba(0, 0, 0, 0.25);
	background-color:rgba(7.000000057742, 60.00000022351742, 99.00000169873238, 1);
	width:303px;
	height:62px;
	position:absolute;
	left:28px;
	top:556px;
}.comencem__8_64 { 
	color:rgba(255, 255, 255, 1);
	width:192px;
	height:71px;
	position:absolute;
	left:84px;
	top:551px;
	font-family:Gloria Hallelujah;
	text-align:center;
	font-size:36px;
	letter-spacing:0;
}