.8_67 { 
	overflow:hidden;
}.android___8_8_67 { 
	background-color:rgba(255, 255, 255, 1);
	width:360px;
	height:640px;
	position:absolute;
}.rectangle_15_118 { 
	width:360px;
	height:640px;
	position:absolute;
	left:0px;
	top:0px;
	background-image:url(images/rectangle.png);
	background-repeat:no-repeat;
	background-size:cover;
}.rectangle_25_9_71 { 
	box-shadow:0px 4px 4px rgba(0, 0, 0, 0.25);
	background-color:rgba(247.00000047683716, 136.00000709295273, 136.00000709295273, 1);
	width:360px;
	height:91px;
	position:absolute;
	left:0px;
	top:0px;
}.em_deixo_ajudar_9_72 { 
	color:rgba(0, 0, 0, 1);
	width:273px;
	height:59px;
	position:absolute;
	left:43px;
	top:16px;
	font-family:Gloria Hallelujah;
	text-align:center;
	font-size:35px;
	letter-spacing:0;
}.rectangle_26_9_73 { 
	box-shadow:0px 4px 4px rgba(0, 0, 0, 0.25);
	background-color:rgba(243.00000071525574, 210.00000268220901, 80.00000283122063, 1);
	width:303px;
	height:400px;
	position:absolute;
	left:28px;
	top:134px;
}.rectangle_27_9_74 { 
	box-shadow:0px 4px 4px rgba(0, 0, 0, 0.25);
	background-color:rgba(247.00000047683716, 136.00000709295273, 136.00000709295273, 1);
	width:303px;
	height:400px;
	position:absolute;
	left:28px;
	top:134px;
}.a_vegades_es_necessari_deixar_se_ajudar_per_a_seguir_endavant_i_el_primer_pas_l_acabes_de_donar__9_75 { 
	color:rgba(0, 0, 0, 1);
	width:263px;
	height:163px;
	position:absolute;
	left:48px;
	top:155px;
	font-family:Gloria Hallelujah;
	text-align:center;
	font-size:18.5px;
	letter-spacing:0;
}.a_catsalut_tens_a_la_teva_disposici__tota_l_informaci__necessaria_per_a_poder_posar_te_en_contacte_amb_un_professional__35_261 { 
	color:rgba(0, 0, 0, 1);
	width:261px;
	height:185px;
	position:absolute;
	left:49px;
	top:329px;
	font-family:Gloria Hallelujah;
	text-align:center;
	font-size:18.5px;
	letter-spacing:0;
}.ellipse_6_9_76 { 
	box-shadow:0px 4px 4px rgba(0, 0, 0, 0.25);
	border-radius:500px;
	background-color:rgba(7.410932332277298, 59.96683560311794, 98.81249696016312, 1);
	width:46px;
	height:46px;
	position:absolute;
	left:157px;
	top:111px;
}.rectangle_28_9_77 { 
	box-shadow:0px 4px 4px rgba(0, 0, 0, 0.25);
	background-color:rgba(7.000000057742, 60.00000022351742, 99.00000169873238, 1);
	width:303px;
	height:62px;
	position:absolute;
	left:28px;
	top:556px;
}.accedir_a_catsalut_9_78 { 
	color:rgba(255, 255, 255, 1);
	width:223px;
	height:48px;
	position:absolute;
	left:68px;
	top:563px;
	font-family:Gloria Hallelujah;
	text-align:center;
	font-size:24px;
	letter-spacing:0;
}