.5_18 { 
	overflow:hidden;
}.android___2_5_18 { 
	background-color:rgba(255, 254.00000005960464, 252.00000017881393, 1);
	width:360px;
	height:640px;
	position:absolute;
}.rectangle_15_114 { 
	width:360px;
	height:640px;
	position:absolute;
	left:0px;
	top:0px;
	background-image:url(images/rectangle.png);
	background-repeat:no-repeat;
	background-size:cover;
}.rectangle_12_6_23 { 
	box-shadow:0px 4px 4px rgba(0, 0, 0, 0.25);
	background-color:rgba(144.00000661611557, 204.00000303983688, 244.0000006556511, 1);
	width:134px;
	height:198px;
	position:absolute;
	left:36px;
	top:394px;
}.rectangle_18_6_29 { 
	box-shadow:0px 4px 4px rgba(0, 0, 0, 0.25);
	background-color:rgba(243.00000071525574, 210.00000268220901, 80.00000283122063, 1);
	width:134px;
	height:198px;
	position:absolute;
	left:36px;
	top:160px;
}.rectangle_17_6_28 { 
	box-shadow:0px 4px 4px rgba(0, 0, 0, 0.25);
	background-color:rgba(123.63462701439857, 232.68750607967377, 85.31875222921371, 1);
	width:134px;
	height:198px;
	position:absolute;
	left:189px;
	top:160px;
}.rectangle_16_6_27 { 
	box-shadow:0px 4px 4px rgba(0, 0, 0, 0.25);
	background-color:rgba(247.00000047683716, 136.00000709295273, 136.00000709295273, 1);
	width:134px;
	height:198px;
	position:absolute;
	left:189px;
	top:394px;
}.ellipse_1_6_30 { 
	box-shadow:0px 4px 4px rgba(0, 0, 0, 0.25);
	border-radius:500px;
	background-color:rgba(7.410932332277298, 59.96683560311794, 98.81249696016312, 1);
	width:30px;
	height:30px;
	position:absolute;
	left:88px;
	top:145px;
}.ellipse_2_6_31 { 
	box-shadow:0px 4px 4px rgba(0, 0, 0, 0.25);
	border-radius:500px;
	background-color:rgba(7.410932332277298, 59.96683560311794, 98.81249696016312, 1);
	width:30px;
	height:30px;
	position:absolute;
	left:241px;
	top:145px;
}.ellipse_3_6_32 { 
	box-shadow:0px 4px 4px rgba(0, 0, 0, 0.25);
	border-radius:500px;
	background-color:rgba(7.410932332277298, 59.96683560311794, 98.81249696016312, 1);
	width:30px;
	height:30px;
	position:absolute;
	left:88px;
	top:379px;
}.ellipse_4_6_33 { 
	box-shadow:0px 4px 4px rgba(0, 0, 0, 0.25);
	border-radius:500px;
	background-color:rgba(7.410932332277298, 59.96683560311794, 98.81249696016312, 1);
	width:30px;
	height:30px;
	position:absolute;
	left:241px;
	top:379px;
}.com_em_sento_7_35 { 
	color:rgba(0, 0, 0, 1);
	width:99px;
	height:99px;
	position:absolute;
	left:53px;
	top:210px;
	font-family:Gloria Hallelujah;
	text-align:center;
	font-size:24px;
	letter-spacing:0;
}.per_a_un_jo_futur_8_51 { 
	color:rgba(0, 0, 0, 1);
	width:99px;
	height:96px;
	position:absolute;
	left:54px;
	top:454px;
	font-family:Gloria Hallelujah;
	text-align:center;
	font-size:24px;
	letter-spacing:0;
}.em_deixo_ajudar_8_52 { 
	color:rgba(0, 0, 0, 1);
	width:99px;
	height:132px;
	position:absolute;
	left:206px;
	top:427px;
	font-family:Gloria Hallelujah;
	text-align:center;
	font-size:24px;
	letter-spacing:0;
}.el_meu_diari_8_49 { 
	color:rgba(0, 0, 0, 1);
	width:99px;
	height:99px;
	position:absolute;
	left:206px;
	top:210px;
	font-family:Gloria Hallelujah;
	text-align:center;
	font-size:24px;
	letter-spacing:0;
}